{% assign t = i18n[page.lang] %}

<div class="carousel-group">
  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/assets/annoyances/police.gif" alt="{{ t.index.section_annoyances.annoyance_1 }}">
    <h3>{{ t.index.section_annoyances.annoyance_1 }}</h3>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/{{ page.lang }}/assets/annoyances/cookies.png" alt="{{ t.index.section_annoyances.annoyance_2 }}">
    <h3>{{ t.index.section_annoyances.annoyance_2 }}</h3>
  </div>

  <div class="card annoyance">
    <div class="rain-content">
      <h3>{{ t.index.section_annoyances.annoyance_3 }}</h3>
    </div>
    <div class="rain-overlay"></div>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/{{ page.lang }}/assets/annoyances/bot.png" alt="{{ t.index.section_annoyances.annoyance_4 }}">
    <h3>{{ t.index.section_annoyances.annoyance_4 }}</h3>
  </div>

  <div class="card annoyance">
    {%- comment %}
    Eleventy's plugin creates artifacts with this one, for some reason.
    {%- endcomment %}
    <picture>
      <source srcset="/assets/annoyances/dancing_cat.webp" type="image/webp">
      <img eleventy:ignore loading="lazy" src="/assets/annoyances/dancing_cat.gif" alt="{{ t.index.section_annoyances.annoyance_5 }}">
    </picture>
    <h3>{{ t.index.section_annoyances.annoyance_5 }}</h3>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/{{ page.lang }}/assets/annoyances/privacy_policy.png" alt="{{ t.index.section_annoyances.annoyance_6 }}">
    <h3>{{ t.index.section_annoyances.annoyance_6 }}</h3>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/assets/annoyances/nyan.gif" alt="{{ t.index.section_annoyances.annoyance_7 }}">
    <h3>{{ t.index.section_annoyances.annoyance_7 }}</h3>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/{{ page.lang }}/assets/annoyances/adblocker.png" alt="{{ t.index.section_annoyances.annoyance_8 }}">
    <h3>{{ t.index.section_annoyances.annoyance_8 }}</h3>
  </div>

  <div class="card annoyance">
    <img eleventy:formats="webp,gif" src="/{{ page.lang }}/assets/annoyances/newsletter.png" alt="{{ t.index.section_annoyances.annoyance_9 }}">
    <h3>{{ t.index.section_annoyances.annoyance_9 }}</h3>
  </div>
</div>
