{%- comment %}
Metadata and optimizations
{%- endcomment %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="referrer" content="no-referrer-when-downgrade">

{%- comment %}
Translations
{%- endcomment %}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | absUrl }}">
{% assign links = page.url | locale_links %}
{%- for link in links %}
    <link rel="alternate" hreflang="{{ link.lang }}" href="{{ link.url | absUrl }}">
{%- endfor -%}
<link rel="alternate" hreflang="x-default" href="https://speedbumpapp.com{{ page.url | locale_url: "en" }}">

{%- comment %}
Website information
{%- endcomment %}
{%- assign localeRoot = '/' | locale_url %}
<title>{{ title }}{% if page.url != '/' and page.url != localeRoot %} | SpeedBump{% endif %}</title>
<meta name="keywords" content="{{ keywords | join: "," }}">
<meta name="description" content="{{ description | markdownify | plainifyHtml | escape }}">
<meta name="author" content="Mario Ortiz Manero">
<link rel="canonical" href="{{ page.url | locale_url | absUrl }}">

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="SpeedBump" />
<link rel="manifest" href="/site.webmanifest" />

{%- if env.ELEVENTY_RUN_MODE == "build" %}
  {% render "partials/analytics.liquid" metadata: metadata %}
{%- endif %}
{% render "partials/opengraph.liquid"
    author: author
    collections: collections
    date: date
    description: description
    image: image
    layout: layout
    metadata: metadata
    page: page
    series: series
    tags: tags
    title: title %}
{% render "partials/twitter_cards.liquid"
    description: description
    image: image
    imageAlt: imageAlt
    metadata: metadata
    title: title %}

<style>
{% render "css/common.css" %}
{% render "css/home.css" %}
{% render "css/post.css" %}
</style>
