<div class="section-features">
  <div class="feature-row">
    <div class="feature">
      <div class="feature-header">
        <img src="/assets/icons/icon_decrease.png" alt="{{ t.index.section_features.feature_1.image_alt }}">
        <h3>{{ t.index.section_features.feature_1.title }}</h3>
      </div>
      {{ t.index.section_features.feature_1.content }}
    </div>

    <div class="feature">
      <div class="feature-header">
        <img src="/assets/icons/icon_hug.png" alt="{{ t.index.section_features.feature_2.image_alt }}">
        <h3>{{ t.index.section_features.feature_2.title }}</h3>
      </div>
      {{ t.index.section_features.feature_2.content }}
    </div>

    <div class="feature">
      <div class="feature-header">
        <img src="/assets/icons/icon_lotus.png" alt="{{ t.index.section_features.feature_3.image_alt }}">
        <h3>{{ t.index.section_features.feature_3.title }}</h3>
      </div>
      {{ t.index.section_features.feature_3.content }}
    </div>
  </div>

  <div class="feature-row">
    <div class="feature">
      <div class="feature-header">
        <img eleventy:widths="60" src="/assets/icons/icon_bullseye.png" alt="{{ t.index.section_features.feature_1.image_alt }}">
        <h3>{{ t.index.section_features.feature_4.title }}</h3>
      </div>
      {{ t.index.section_features.feature_4.content }}
    </div>

    <div class="feature">
      <div class="feature-header">
        <img eleventy:widths="60" src="/assets/icons/icon_rocket.png" alt="{{ t.index.section_features.feature_2.image_alt }}">
        <h3>{{ t.index.section_features.feature_5.title }}</h3>
      </div>
      {{ t.index.section_features.feature_5.content }}
    </div>

    <div class="feature">
      <div class="feature-header">
        <img eleventy:widths="60" src="/assets/icons/icon_money.png" alt="{{ t.index.section_features.feature_3.image_alt }}">
        <h3>{{ t.index.section_features.feature_6.title }}</h3>
      </div>
      {{ t.index.section_features.feature_6.content }}
    </div>
  </div>
</div>
