---
layout: layouts/base.liquid
---

{% assign t = i18n[page.lang] %}

<header>
  <a href="{{ '/' | locale_url }}">
    <img eleventy:ignore class="logo logo-light" src="/{{ page.lang }}/assets/logo.svg" alt="SpeedBump">
    <img eleventy:ignore class="logo logo-dark" src="/{{ page.lang }}/assets/logo-dark.svg" alt="SpeedBump">
  </a>
</header>

<section id="content" class="content">
  <div class="section-app">
    <div class="description">
      <img eleventy:widths="200" src="/assets/apps/{{ app.name | slugify }}.png" alt="{{ app.keywords[0] }}">
      <h1>{{ title }}</h1>

      {{ app.intro | markdownBlock }}
      {% render "partials/addiction-quiz.liquid" i18n: i18n, page: page, app: app %}

      <hr style="opacity: 0; margin-top: var(--gap); margin-bottom: var(--gap);">

      <h2>{{ t.app_pages.reasons_title | replace: '%app%', app.name }}</h2>
      <div class="reasons">
      {%- for reason in app.reasons %}
        <div class="reason">
          <h3>{{ reason.title }}</h3>
          {{ reason.description | markdownify }}
        </div>
      {%- endfor %}
      </div>
    </div>
  </div>

  <hr style="opacity: 0; margin-top: var(--gap); margin-bottom: var(--gap);">

  {% render "partials/section-demo-app-page.liquid" page: page, t: t, app: app %}

  <hr>

  {% render "partials/section-facts-app-page.liquid" t: t, app: app %}

  <hr>

  {% render "partials/section-stats.liquid" t: t, page: page %}

  <hr>

  {% render "partials/section-features.liquid" t: t %}

  <hr style="opacity: 0; margin-top: calc(var(--gap) * 2); margin-bottom: calc(var(--gap) * 2);">

  <h2 style="text-align: center">{{ t.post.footer.download_prompt }}</h2>
  {% render "partials/downloads.liquid" page: page %}

  <hr style="opacity: 0;">
</section>
