---
layout: layouts/base.liquid
---

{% assign t = i18n[page.lang] %}

<section class="hero">
{% comment %}
Optimized original video with the following commands:

ffmpeg -i 20250204_142815.mp4 -vf vidstabdetect -f null -
ffmpeg \
  -i 20250204_142815.mp4 \
  -vf "vidstabtransform" \
  -an \
  /tmp/dashcam-stabilized.mp4

ffmpeg \
  -sseof -14 \
  -i /tmp/dashcam-stabilized.mp4 \
  -vf "crop=1440:1080:467:0,scale=1000:-1,fps=15,boxblur=8" \
  -c:v libx264 \
  -crf 34 \
  -preset veryslow \
  -profile:v high \
  -level:v 4.1 \
  -pix_fmt yuv420p \
  -movflags +faststart \
  dashcam.mp4

ffmpeg \
  -sseof -14 \
  -i /tmp/dashcam-stabilized.mp4 \
  -vf "crop=1440:1080:467:0,scale=1000:-1,fps=15,boxblur=8" \
  -c:v libvpx-vp9 \
  -b:v 0 \
  -crf 50 \
  -deadline best \
  -cpu-used 0 \
  -row-mt 1 \
  -pix_fmt yuv420p \
  -quality good \
  -tile-columns 2 \
  -auto-alt-ref 1 \
  dashcam.webm

rm transforms.trf 20250204_142815.mp4
{% endcomment %}
  <video class="hero-video" autoplay loop muted playsinline>
    <!-- <source src="/assets/dashcam.webm" type="video/webm"> -->
    <source src="/assets/dashcam.mp4" type="video/mp4">
  </video>

  <div class="hero-overlay"></div>

  <div class="lines">
    <p class="line1">{{ t.index.hero_1 }}<span class="hero-fall-animation">?</span></p>
    <p class="line2">{{ t.index.hero_2 }}</p>
    <p class="line3">{{ t.index.hero_3 }}</p>
  </div>

  {% render "partials/downloads.liquid" page: page %}

  <a href="#content"><svg class="scroll-arrow" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 122.88 120.64"><path d="M108.91 54.03a8.3 8.3 0 0 1 5.85-2.28c2.11.03 4.2.84 5.79 2.44l.12.12c1.5 1.58 2.23 3.6 2.2 5.61a7.95 7.95 0 0 1-2.37 5.55c-17.66 17.66-35.61 35.13-53.4 52.68-.05.07-.1.13-.16.19a8.34 8.34 0 0 1-5.87 2.28 8.32 8.32 0 0 1-5.8-2.45l-.26-.27C37.47 100.43 19.87 82.98 2.36 65.46A7.96 7.96 0 0 1 0 59.92c-.03-2.01.7-4.03 2.21-5.61l.15-.15a8.32 8.32 0 0 1 5.76-2.41c2.1-.03 4.22.73 5.85 2.28l47.27 47.22zm-2-51.77A8.27 8.27 0 0 1 112.74 0c2.11.03 4.2.84 5.79 2.44l.12.12c1.5 1.57 2.23 3.6 2.21 5.61a7.95 7.95 0 0 1-2.37 5.55C101.2 31.01 84.2 48.87 67.12 66.39c-.05.07-.11.14-.17.21a8.34 8.34 0 0 1-5.87 2.28 8.32 8.32 0 0 1-5.8-2.45C38.33 48.94 21.44 31.36 4.51 13.83l-.13-.12a7.95 7.95 0 0 1-2.35-5.54c-.03-2.01.7-4.03 2.2-5.61l.15-.15A8.34 8.34 0 0 1 10.14 0c2.1-.03 4.22.73 5.85 2.28l45.24 47.18z"/></svg></a>
</section>

<section id="content" class="content">
  {% render "partials/section-demo.liquid" page: page, t: t %}

  <hr>

  {% render "partials/section-features.liquid" t: t %}

  <hr>

  {% render "partials/section-feelings.liquid" t: t %}

  <hr>

  {% render "partials/section-carousel.liquid" t: t, i18n: i18n, page: page %}

  <hr>

  {% render "partials/section-stats.liquid" t: t, page: page %}

  <hr style="opacity: 0;">

  {% render "partials/section-testimonials.liquid" t: t %}

  {%- assign recentPosts = collections.posts | where: "data.lang", page.lang | recentPosts %}
  {%- if recentPosts.size > 0 %}
  <hr>

  {% render "partials/section-blog.liquid" t: t, page: page, recentPosts: recentPosts %}
  {% endif %}
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "SpeedBump",
  "operatingSystem": "Android, iOS",
  "applicationCategory": "Productivity",
  "description": "{{ description }}",
  "url": "{{ '/' | locale_url }}",
  "image": "https://speedbumpapp.com/assets/logo_small.png",
  "creator": {
    "@type": "Organization",
    "name": "SpeedBump Inc.",
    "url": "{{ '/' | locale_url | absUrl }}"
  },
  "downloadUrl": "{{ '/' | locale_url | absUrl }}",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "softwareVersion": "1.0",
  "datePublished": "2025-02-17"
}
</script>
