---
layout: layouts/base.liquid
---

{% assign t = i18n[page.lang] %}

<div class="post-main">
  <header>
    <a href="{{ '/' | locale_url }}">
      <img eleventy:ignore class="logo logo-light" src="/{{ page.lang }}/assets/logo.svg" alt="SpeedBump">
      <img eleventy:ignore class="logo logo-dark" src="/{{ page.lang }}/assets/logo-dark.svg" alt="SpeedBump">
    </a>
  </header>

  <article class="post-single">
    <div class="post-header">
      <h1 class="post-title">{{ title }}</h1>
      <span class="post-meta">{{ t.post.header.written }} <a href="https://nullderef.com/about/" target="_blank">Mario Ortiz Manero</a> {{ t.post.header.written_on }} {{ date | readableDateLong: page.lang }}<br>{% render "partials/in-other-langs.liquid" page: page, i18n: i18n %}</span>
    </div>
    <div class="post-content">
      {{ content }}
    </div>

    <hr style="margin: calc(var(--gap) * 2) 0;">

    <footer class="post-footer">
      <h2 style="text-align: center">{{ t.post.footer.download_prompt }}</h2>

      {% render "partials/downloads.liquid" t: t %}

      <h3 style="text-align: center"><a href="{{ '/' | locale_url }}">{{ t.post.footer.about }}</a></h2>
    </footer>
  </article>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "name": "{{ title | escapeQuotes }}",
    "image": "{{ image | absUrl }}",
    "author": {
      "@type": "Person",
      "name": "Mario Ortiz Manero",
      "url": "{{ metadata.url }}"
    },
    "url": "{{ page.url }}",
    "datePublished": "{{ date | iso8601Date }}",
    "dateModified": "{{ page.inputPath | lastModified | iso8601Date }}",
    "mainEntityOfPage": "{{ page.url }}",
    "description": "{{ description | markdownify | plainifyHtml | escapeQuotes }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ metadata.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ 'favicon.ico' | absUrl }}"
      }
    }
  }
  </script>
</div>
